

 /* Universal Selector */
 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 }

 /* Grouping Selector */
 h1, p, a {
 color: #4080ff;
 }

 /* Element Selector */
 h1 {
 font-size: 2.5em;
 text-align: center;
 }

p {
    font-family: "Times New Roman", Times, serif;
    background-color: #0038B8;
}

body {
  background-image: url('sky.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} 

 /* Class Selector */
 .highlight {
 background-color: #d0e0ff;
 padding: 10px;
 }

 /* ID Selector */
 #main-title {
 font-family: "Helvetica";
 }
 table, th, td {
  border: 1px solid black;
}

img {
  margin: 0;
  padding: 0;
}

